# dev | stage | prod
ENV=dev

# Для Docker Compose: DB__HOST=db
# Для локальной разработки: DB__HOST=localhost
DB__HOST=db
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=postgres
DB__NAME=lib_management

# Опционально. Если не задано, echo=True в dev, echo=False в prod/stage.
# DB__ECHO=true
DB__POOL_SIZE=20
DB__MAX_OVERFLOW=10
DB__POOL_RECYCLE=1800
